*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    padding:50px;
}
.star-wrapper{
    position: relative;
}
.star{
   display: inline-block;
    position: relative;
    border-bottom:100px solid rgb(255, 255, 0);
   border-left: 50px solid rgba(0, 0, 0, 0);
   border-right: 50px solid rgba(0, 0, 0, 0);
   position: absolute;
}
.star-reverse{
    position: absolute;
    top:30px;
    display: inline-block;
    position: relative;
    /* border-bottom:100px solid rgb(255, 255, 0); */
    border-top:100px solid rgb(255, 255, 0);
   border-left: 50px solid rgba(0, 0, 0, 0);
   border-right: 50px solid rgba(0, 0, 0, 0);
}